.fui-dropzone-root {
  border: none !important;
  border-radius: 0;
}

.files-ui-footer {
  border-bottom-left-radius: none !important;
  border-bottom-right-radius: none !important;
  background: hsl(var(--default)) !important;
  border-top: 1px solid hsl(var(--border)) !important;
}
